{% extends "portal/compose_base.html" %}
{% comment %}
  Upload Sequences
{% endcomment %}

{% block javascript %}
<script type="text/javascript">
function clearAll(){
	var elements = document.getElementsByName("taxa");
	for(var i=0; i<elements.length; i++) {
    	elements[i].checked = false;
	}
}
</script>

{% endblock %}

{% block compose_content %}
{% load staticfiles %}

<h2>Step 2: Define the Outgroup</h2>
	
{#<div style="background:lightgreen" class="rounded_div_medium">#}
	<p>Select sequences that can be used to root the tree.</p>
	
	<button onclick="clearAll()" id="clearAllButton">Uncheck All</button>
	
	<form id="new_taxagroup_form" method="post" action="/portal/compose2"
	        enctype="multipart/form-data">
	    {% csrf_token %}
	    
	    {% for tuple in taxon_tuples %}
	    <label for="taxon_{{tuple.1}}"><input id="taxon_{{tuple.1}}" name="taxa" type="checkbox" value="{{tuple.1}}" {%if tuple.2%}checked{%endif%}/> {{tuple.0}}</label>
	    {% endfor %}
	    
	    <br>
	    <input type="hidden" name="action" value="setoutgroup">
	    <input type="submit" class="button1" name="submit_newgroup" value="Save Outgroup" />
	</form>
{#</div>#}


<form id="anccomp_form" method="post" action="/portal/compose2"
        enctype="multipart/form-data">
	{% csrf_token %}
	<input type="hidden" name="action" value="done">
	
	<div align="center">
	<button class="button1" type="submit" name="submit" align="center">Save and Continue</button>
	</div>

</form>

{% endblock %}