{% extends "portal/compose_base.html" %}
{% comment %}
  Upload Sequences
{% endcomment %}

{% block compose_content %}
{% load staticfiles %}

<form id="user_form" method="post" action="/portal/compose1"
    enctype="multipart/form-data">
{% csrf_token %}

<h2>Step 1: Setup the Basics</h2>

{% for msg in error_messages %}
{% if msg != None %}
<div class="rounded_div_medium" style="background-color:pink;">
<p>{{msg}}</p>
</div>
{% endif %}

{% endfor %}

<div style="float:left; width:49%">
	<div class="rounded_div_medium" style="background-color:#dedede;">
	    <h3>Protein Sequences</h3>
	    {% if aa_seqfile_url %}
	    	<p>Current File: <a href="{% static aa_seqfile_url %}">{{aa_seqfile_short}}</a></p>
	    {% endif %}
	    {{ aa_seqfileform.as_p }}	
	</div>

	<div class="rounded_div_medium" style="background-color:#dedede;">
	    <h3>Codon Sequences (optional)</h3>
	    {% if codon_seqfile_url %}
	    	<p>Current File: <a href="{% static codon_seqfile_url %}">{{codon_seqfile_short}}</a></p>
	    {% endif %}
	    {{ codon_seqfileform.as_p }}	
	</div>

	<!--
	<div class="rounded_div_medium" style="background-color:#dedede;">    
	    {{ aa_seqfileform.seq_path.errors }}
	</div>
	-->
	
	<div class="rounded_div_medium" style="background-color:#dedede;">
		    <h3>Job Name</h3>
		<p>Choose a name:{{ js_form.name }}
		<p>
		Describe this project (optional):
		{{ js_form.project_description }}</p>
		<p>
	</div>
</div>

<div style="margin-left:50%; width:50%">

	<div class="rounded_div_medium" style="background-color:#dedede;">
		<h3>Sequence Alignment Algorithms</h3>
		{{ js_form.alignment_algorithms }}
		<p>
		<h3>Phylogenetic Models</h3>
		{{ js_form.raxml_models }}
		<p>
	</div>

	<!--
	<div class="rounded_div_medium" style="background-color:#dedede;">
		<h3>Sequence Uncertainty</h3>
		<p>How many Bayesian-sampled alternate ancestral sequences do you want?</p>
		{{ js_form.n_bayes_samples }}
		<p>
	</div>
	-->
	<div align="center">
	<button class="button1"  type="submit" name="submit" align="center">Save and Continue</button>
	</div>

    <!--<input type="submit" name="submit" value="Save and Continue" />-->
	    
</div>


</form>
{% endblock %}