{% extends "portal/compose_base.html" %}
{% comment %}
  Upload Sequences
{% endcomment %}

{% block javascript %}
<script type="text/javascript">
function clearAll(){
	var elements = document.getElementsByName("taxa");
	for(var i=0; i<elements.length; i++) {
    	elements[i].checked = false;
	}
}
</script>

{% endblock %}

{% block compose_content %}
{% load staticfiles %}

<h2>Step 2: Define the Outgroup</h2>
	
{% for msg in error_messages %}
{% if msg != None %}
<div class="rounded_div_medium" style="background-color:pink;">
<p>{{msg}}</p>
</div>
{% endif %}
{% endfor %}

<p>Select one or more sequences that can be used to root the trees.<br>
<em>Note: If the list below looks incorrect, then your FASTA file may have errors. Return to Step 1 and try a different FASTA file.</em></p>

<button onclick="clearAll()" id="clearAllButton">Uncheck All</button>

<form id="new_taxagroup_form" method="post" action="/portal/compose2"
        enctype="multipart/form-data">
    {% csrf_token %}

    <table>
    <tr>
   		<th align="left">Sequence Name</th>
   		<th>Amino Acid Sites</th>
   		<th>Sequence</th>
   	</tr>
    {% for tuple in taxon_tuples %}
    <tr>
	    <td><label for="taxon_{{tuple.1}}"><input id="taxon_{{tuple.1}}" name="taxa" type="checkbox" value="{{tuple.1}}" {%if tuple.2%}checked{%endif%}/> {{tuple.0|slice:":50"}}</label></td>
	    <td align="center">{{tuple.3}}</td>
	    {% if tuple.4|length == 20 %}
			<td align="left">{{tuple.4}}. . .</td>
		{% else %}
			<td align="left">{{tuple.4}}</td>		
		{% endif %}
    </tr>
    {% endfor %}
    </table>
    <br>
    <div align="center">
    	<input type="hidden" name="action" value="setoutgroup">
    	<input type="submit" class="button1" name="submit_newgroup" value="Save Outgroup, then Launch" />
	</div>
</form>



{% endblock %}