{% extends "portal/portal_base.html" %}
{% comment %}
  Main page of the portal.
{% endcomment %}

{% block title %}
  Portal
{% endblock %}

{% block javascript %}
<script>
function verify_stop(e)
{
    if(!confirm('Are you sure you want to stop the job? This will release cloud resources.'))e.preventDefault();
}
function verify_reset(e)
{
    if(!confirm('Are you sure you want to reset your job? This will delete any unsaved progress.'))e.preventDefault();
}
function verify_trash(e)
{
    if(!confirm('Are you sure you want to delete your job? This cannot be undone.'))e.preventDefault();
}
</script>
{% endblock %}


{% block content %}
  {% load staticfiles %}
  

<a href="/portal/composenew/"><button class="button1" type="submit" name="submit" style="margin-top:50px">+ Create a New Job</button></a>
 
  <div class="rounded_div_medium" style="background-color:#eeeddd" width="90%">
  	
  	<table width="90%">
  	<tr>
  	<td>
  	<h3>My Jobs
  		<a href="#" class="tooltip">
		
			<img src="{% static "phylobot/question_icon.png" %}" height="15px">
			<span>
	        	<p class="smalltext">This table shows a list of jobs you've created. Use the controls on the right side to view job status, edit, start, stop, and more.</p>
	    	</span>
		</a>
	</h3>
	</td>
	{% if jobs %}
	<td align="right">
		<p><a href="."><a href="."><img src="{% static "portal/refresh_0066ff.png"%}" width=20 height=20 valign="top"> Refresh All</a></p>
	</td>
	{% endif %}
	
	</tr>
	</table>
  	
	{% if jobs %}
		<table width="100%">
	  	{% for j, alibid in jobs %}
		  	<tr>
		  	<td width="20%"><h3>{{j.settings.name}}</h3></td>
			<td width="400px" style="padding-right:40px">
				<font style="color:
				{% if j.status.short == "error" %}
				red;
				{% elif j.status.short == "stopped" %}
				black;
				{% else %}
				green;
				{% endif %}
				">
				{{j.status.short}}
				{% if j.status.short == "error" %}
				- check status
				{% endif %}
				</font>
			
				<div style="height:6px;background-color:lightgrey;">
					<div style="height:7px; width:{{j.p_done}}%;background-color:
						{% if j.status.short == "error"%}
						red;
						{% else %}
						#66CC66;
						{% endif %}
						height:5px;float:left;">
					</div>
					<font style="color:
					{% if j.status.short == "error"%}
					red;
					{% elif j.status.short == "stopped" %}
					black;
					{% else %}
					green;
					{% endif %}
					">
					{{j.p_done|floatformat}}% complete
					</font>
					{% if alibid != None %}
					<br><a href="/{{ alibid }}/">Click here to view the completed library</a>
					{% endif %}
				</div>
				
			</td>
		  	
		  	{% if j.checkpoint >= 0 %}
		  	
		  	<td><div class="rounded_div_small"  id="div_button">
		  		<!--<form method="post" action="/portal/" enctype="multipart/form-data">
		  		{% csrf_token %}
		  		<input type="hidden" name="action" value="status" />
		  		<input type="hidden" name="jobid" value="{{ j.id }}" />
		  		<input type="image" src="{% static "portal/question.png"%}" width=30 height=30>Status
		  		</form>
		  		-->
		  		
		  		<a href="/portal/status/{{j.id}}/"><img src="{% static "portal/question.png"%}" width=30 height=30>Status</a>
		  		
		  		</div>
		  	</td>
		  	<td><div class="rounded_div_small"  id="div_button">
		  		<form method="get" action="/portal/compose/{{j.id}}/" enctype="multipart/form-data">
		  		{% csrf_token %}
		  		<input type="hidden" name="action" value="edit" />
		  		<input type="hidden" name="jobid" value="{{ j.id }}" />
		  		<input type="image" src="{% static "portal/compose.png"%}" width=30 height=30>Edit
		  		</form>
		  		</div>
		  	</td>
		  	<td><div class="rounded_div_small"  id="div_button">
		  		<form method="post" action="/portal/" enctype="multipart/form-data">
		  		{% csrf_token %}
		  		<input type="hidden" name="action" value="start" />
		  		<input type="hidden" name="jobid" value="{{ j.id }}" />
		  		<input type="image" src="{% static "portal/play.png"%}" width=30 height=30>Start
		  		</form>
		  		</div>
		  	</td>
		  	<td><div class="rounded_div_small"  id="div_button">
		  		<form method="post" action="/portal/" enctype="multipart/form-data">
		  		{% csrf_token %}
		  		<input type="hidden" name="action" value="stop" />
		  		<input type="hidden" name="jobid" value="{{ j.id }}" />
		  		<input type="image" src="{% static "portal/stop.png"%}" width=30 height=30 onclick="verify_stop(event)">Stop
		  		</form>
		  		</div>
		  	</td>
		  	<!--
		  	<td><div class="rounded_div_small" style="width:30px;" id="div_button_danger">
		  		<form method="post" action="/portal/" enctype="multipart/form-data">
		  		{% csrf_token %}
		  		<input type="hidden" name="action" value="stop" />
		  		<input type="hidden" name="jobid" value="{{ j.id }}" />
		  		<input type="image" src="{% static "portal/flash.png"%}" width=30 height=30 onclick="verify_reset(event)">Reset
		  		</form>
		  		</div>
		  	</td>
		  	-->
		  	<td><div class="rounded_div_small" style="width:30px;" id="div_button_danger">
		  		<form method="post" action="/portal/" enctype="multipart/form-data">
		  		{% csrf_token %}
		  		<input type="hidden" name="action" value="remove" />
		  		<input type="hidden" name="jobid" value="{{ j.id }}" />
		  		<input type="image" src="{% static "portal/trash.png"%}" width=30 height=30 onclick="verify_trash(event)">Trash
		  		</form>
		  		</div>
		  	</td>
		  	{% else%}
		  	<td colspan=4>
		  		<div class="rounded_div_small" style="width:300px;" id="div_button">
		  		<form method="get" action="/portal/compose/{{j.id}}/" enctype="multipart/form-data">
		  		{% csrf_token %}
		  		<input type="hidden" name="action" value="edit" />
		  		<input type="hidden" name="jobid" value="{{ j.id }}" />
		  		<input type="image" src="{% static "portal/compose.png"%}" width=30 height=30>
		  		Finish Composing This Job
		  		</form>
		  		</div>
		  	</td>
		  	<td><div class="rounded_div_small" style="width:45px;" id="div_button_danger">
		  		<form method="post" action="/portal/" enctype="multipart/form-data">
		  		{% csrf_token %}
		  		<input type="hidden" name="action" value="remove" />
		  		<input type="hidden" name="jobid" value="{{ j.id }}" />
		  		<input type="image" src="{% static "portal/trash.png"%}" width=30 height=30>Trash
		  		</form>
		  		</div>
		  	</td>
		  	{% endif %}
		  	</tr>
	  	{% endfor %}
	  	</table>
	  {% else %}
	  	<p>You have not created any jobs.</p>
	  {% endif %}
  </div>
  
  
  <!--
  <div class="rounded_div_medium" style="background-color:#a9e2ff;">
  	<h3>My Libraries</h3>
  	<p>Listed here are web reports for your jobs that are complete.</p>
  	{% if libraries %}
  		{% for j in libraries %}
  			<p><a href="/library/{{j.settings.name}}">{{j.settings.name}}</a> <font class="smalltext">(last modified {{j.last_modified}})</class></p>
  		{% endfor %}
  	{% else %}
  		<p>You don't have any finished libraries. Create a job and launch it. When the job is complete, its library will appear here.</p>
  	{% endif %}
  </div>
  -->
  
{% endblock %}