{% extends "portal/portal_base.html" %}

{% block javascript %}
<script>
function verify_stop(e)
{
    if(!confirm('Are you sure you want to stop the job? This will release cloud resources.'))e.preventDefault();
}
function verify_reset(e)
{
    if(!confirm('Are you sure you want to reset your job? This will delete any unsaved progress.'))e.preventDefault();
}
function verify_trash(e)
{
    if(!confirm('Are you sure you want to delete your job? This cannot be undone.'))e.preventDefault();
}
</script>
{% endblock %}


{% block content %}
{% load staticfiles %}

{% if job.status.short == "running" or job.status.short == "queued" %}
<h2 class="green">Your job is in the queue!</h2>
<p>Bookmark this page, and come back to check the status.</p>
{% endif %}

<div style="width: 100%; overflow: hidden;">
<div style="width:40%; float:left;">
	<div class="rounded_div_medium" style="background:#dedede;">
		<table width="100%">
		<tr>
		<!--<td><p class="smalltext">&#x25B2;&#x25BC;</p></td>-->
		<td><h2>Job Settings</h2></td>
		<td align="right">
				<div class="rounded_div_small" style="width:40px; margin-right:15px;" id="div_button" align="center">
		  		<form method="get" action="/portal/compose/{{job.id}}/" enctype="multipart/form-data">
		  		{% csrf_token %}
		  		<input type="hidden" name="action" value="edit" />
		  		<input type="hidden" name="jobid" value="{{ job.id }}" />
		  		<input type="image" src="{% static "portal/compose.png"%}" width=30 height=30 />
		  		<a>Edit</a>
		  		</form>
		  		</div></td>
		</tr>
		</table>
		<div id="jobsettings">
		
		<ul>
		<li>Job Name: {{ job.settings.name }}</li>
		<li>Input File: 
		{% if selected_aa_seqfile_url %}
	    	<a href="{% static selected_aa_seqfile_url %}">{{selected_aaseqfile_short}}</a>
		{% else %} None Specified
	    {% endif %}
		</li>
		<li>{{ nseqs }} Sequences</li>
		<li>Job Description:
		{% if job.settings.project_description %}
			 {{ job.settings.project_description }}
		{% else %}
			None given
		{% endif %}
		</li>
		<li>Constraint Tree: 
		{% if constrainttree_seqfile_url %}
	    	<a href="{% static constrainttree_seqfile_url %}">{{constrainttree_seqfile_short}}</a>
		{% else %} None Specified
	    {% endif %}
		</li>
		</ul>
		    
		    
		<h3>Selected Alignment Algorithms:</h3>
		<ul>
		{% for aa in list_of_aa %}
			<li>{{ aa }}</li> 
		{% endfor %}
		</ul>    
		
		{% if list_of_usermsas|length > 0 %}
			<h3>Custom Alignments:</h3>
			<ul>
			{% for aa in list_of_usermsas %}
				<li>{{ aa.0 }}: <a href="{% static aa.1 %}" class="smalltext">(download)</a></li> 
			{% endfor %}
			</ul> 
		{% else %}
			<h3>Custom Alignments: none</h3>
		{% endif %}
		
		<h3>RunRAxML Models:</h3>
		<ul>
		{% for rm in list_of_rm %}
			<li>{{ rm }}</li> 
		{% endfor %}
		</ul>
		
		<h3>Outgroup:</h3>
		<p>
		{% for t in job.settings.outgroup.taxa.all %}
			{% if forloop.counter == job.settings.outgroup.taxa.all|length %}
				{{ t }}
			{% else %}
				{{ t }}, 
			{% endif %}
		{% endfor %}
		
		{% if job.settings.outgroup.taxa.all|length == 0 %}
		None Specified
		{% endif %}
		
		</p>
		
		</div>
	</div>

</div>

<div style="width:59%; margin-left: 41%;">
	<div class="rounded_div_medium" style="background:#dedede;">
		<table>
			<tr>
			<!--<td><p class="smalltext">&#x25B2;&#x25BC;</p></td>-->
			<td><h2>Control Panel</h2>
			</td>
			</tr>
		</table>	  	
	  	
	  	<table width="100%">
		  	<tr>
		  	<td><div class="rounded_div_small" style="width:30px;" id="div_button">
		  		<form method="post" action="." enctype="multipart/form-data">
		  		{% csrf_token %}
		  		<input type="hidden" name="action" value="start" />
		  		<input type="hidden" name="jobid" value="{{ job.id }}" />
		  		<input type="image" src="{% static "portal/play.png"%}" width=30 height=30>Start
		  		</form>
		  		</div>
		  	</td>
		  	<td><div class="rounded_div_small" style="width:30px;" id="div_button">
		  		<form method="post" action="." enctype="multipart/form-data">
		  		{% csrf_token %}
		  		<input type="hidden" name="action" value="stop" />
		  		<input type="hidden" name="jobid" value="{{ job.id }}" />
		  		<input type="image" src="{% static "portal/stop.png"%}" width=30 height=30 onclick="verify_stop(event)">Stop
		  		</form>
		  		</div>
		  	</td>
		  	<td><div class="rounded_div_small" style="width:30px;" id="div_button_danger">
		  		<form method="post" action="." enctype="multipart/form-data">
		  		{% csrf_token %}
		  		<input type="hidden" name="action" value="reset" />
		  		<input type="hidden" name="jobid" value="{{ job.id }}" />
		  		<input type="image" src="{% static "portal/flash.png"%}" width=30 height=30 onclick="verify_reset(event)">Reset
		  		</form>
		  		</div>
		  	</td>
		  	<td><div class="rounded_div_small" style="width:30px;" id="div_button_danger">
		  		<form method="post" action="." enctype="multipart/form-data">
		  		{% csrf_token %}
		  		<input type="hidden" name="action" value="remove" />
		  		<input type="hidden" name="jobid" value="{{ job.id }}" />
		  		<input type="image" src="{% static "portal/trash.png"%}" width=30 height=30 onclick="verify_trash(event)">Trash
		  		</form>
		  		</div>
		  	</td>
		  	</tr>
	  	</table>
	</div>
	
	<div class="rounded_div_medium" style="background:#dedede;">
		
		
		<table width="95%">
		<tr>
		<td width="90%">
		{% if last_user_command != "stop" and last_user_command != None %}
		<h2>Status: Running
		{% else %}
		<h2>Status: Not Running  
		{% endif %}
			
			{% if job.status.short == "error"%}
			<font style="color:red;">
			{{ job.status.short }}
			</font>
			{% elif job.status.short == "running"%}
			<font style="color:green;">
			{{ job.status.short }}
			</font>
			{% else %}
			<font style="color:black;">
			{{ job.status.short }}
			</font>
			{% endif %}
			
		</h2>
		</td>
		<td align="center">	<form method="post" action="." enctype="multipart/form-data">
		  		{% csrf_token %}
		  		<input type="hidden" name="action" value="refresh" />
		  		<input type="hidden" name="jobid" value="{{ job.id }}" />
		  		<input type="image" src="{% static "portal/refresh2.png"%}" width=30 height=30><br>Refresh
		  		</form>
		</td>
		</tr>
		</table>
			
		<p>{{job_status}}
			{% if current_checkpoint > 8.0 %}
			<a href="/{{ finished_library_id }}/">Click here to view the completed library</a>
			{% endif %}
		</p>
		
		<div width="100%" style="height:10px;background-color:darkgrey; margin-right:40px">
		<div style="height:11px; width:{{job.p_done}}%;background-color:
		{% if job.status.short == "error"%}
		red;
		{% elif job.status.short == "stopped" %}
		black;
		{% else %}
		#66CC66;
		{% endif %}
		height:11px;float:left;">
		</div><br>
		<font style="color:
		{% if job.status.short == "error"%}
		red;
		{% elif job.status.short == "stopped" %}
		black;
		{% else %}
		green;
		{% endif %}
		">
		{{job.p_done|floatformat}}% complete
		</font>
		</div>
		<br>
		<p>
		{{j.status.short}}<font class="smalltext">(last updated {{job.last_modified}})
		</p>
	</div>

	<div class="rounded_div_medium" style="background:#dedede;">
		<table>
			<tr>
			<!--<td><p class="smalltext">&#x25B2;&#x25BC;</p></td>-->
			<td><h2>Checkpoints</h2>
			</td>
			</tr>
		</table>		
		<table>
			{% for cp in checkpoints %}
			<tr>
				<td align="center">				
				{% if current_checkpoint >= cp.0 %}
					<img src="{% static "portal/check_green.png"%}" width=20>
					{% elif job.status.short == "error" and current_checkpoint == cp.0 %}
					<img src="{% static "portal/x_red.png"%}" width=25>
					{% else %}			
					&nbsp;
				{% endif %}
				</td>
				<td>
				{% if current_checkpoint >= cp.0 %}
					<font class="green">{{cp.1}}</font>
					{% elif job.status.short == "error" and current_checkpoint == cp.0 %}
					<font class="red">{{cp.1}}</font>
					{% else %}
					<font class="grey">{{cp.1}}</font>				
				{% endif %}

				</td>
			</tr>
			
			{% endfor %}
		</table>
	</div>
</div>
</div>
	
{% endblock %}