{% extends "libview/libview_base.html" %}
{% load staticfiles %}
{% block body %}

<form action="/{{alid}}/mutations.bybranch" method="post">
{% csrf_token %}
<table class='choice_table' width="100%">
<tr>
	<td colspan=2><h3>Select a Tree:</h3></td>
	<td align="right">
				<a href="#" class="tooltip">
			<img src="{% static "phylobot/question_icon.png" %}" height="30px">
			<span align="left">
	        	<p class="smalltext">Select a tree and branch by choosing a combination of one alignment method, one phylogenetic model, and two ancestral nodes on the maximum likelihood tree from that method-model combo.</p>
	    	</span>
		</a>
	</td>
</tr>
<tr>
	<td>
		<p>Alignment Method:
		<select id="msaname" name="msaname" class="dropdown">
			{% for msaname in msanames %}
				{% if msaname == default_msaname %}
		  			<option value="{{msaname}}" id="{{msaname}}" selected="selected">{{msaname}}</option>
				{% else %}
					<option value="{{msaname}}" id="{{msaname}}">{{msaname}}</option>
				{% endif %}
			{% endfor %}
		</select>
		</p>
	</td>
	<td>
		<p>Markov Model:
		<select id="modelname" name="modelname" class="dropdown">
			{% for model in modelnames %}
			  {% if model == default_modelname %}
			  	<option value="{{model}}" selected="selected">{{model}}</option>
			  {% else %}
			  	<option value="{{model}}">{{model}}</option>
			  {% endif %}
			 {% endfor %}
		</select>
		</p>
	</td>
	<td>&nbsp;</td>
</tr>

<tr>
	<td colspan=3><h3>Select a Branch:</h3>
	</td>
</tr>
<tr>
	<td>
	<p>From Ancestor:
	<select id="ancname1" name="ancname1" class="dropdown">
		{% for ancname in ancnames %}
			{% if ancname == default_ancname1 %}
	  			<option value="{{ancname}}" id="{{ancname}}" selected="selected">{{ancname}}</option>
			{% else %}
				<option value="{{ancname}}" id="{{ancname}}">{{ancname}}</option>
			{% endif %}
		{% endfor %}
	</select>
	</p>
	</td>

	<td>
	<p>To Ancestor:
	<select id="ancname2" name="ancname2" class="dropdown">
		{% for ancname in ancnames %}
			{% if ancname == default_ancname2 %}
	  			<option value="{{ancname}}" id="{{ancname}}" selected="selected">{{ancname}}</option>
			{% else %}
				<option value="{{ancname}}" id="{{ancname}}">{{ancname}}</option>
			{% endif %}
		{% endfor %}
	</select>
	</p>
	</td>

	<td>
		<input type="submit" value="Select" class="dropdown"/>
	</td>
</tr>
</table>
</form>

<br>

<form action="/{{alid}}/mutations.bybranch" method="post">
{% csrf_token %}
<table class='choice_table' style='background-color: #99FF99;' width="100%">
	<tr>
		<td>
		<h3>(Optional) Map Mutations to Sequence:</h3>
		<p>Select a Sequence Name:
		<select id="seedtaxonname" name="seedtaxonname" class="dropdown">
			{% for taxonname in taxonnames %}
				{% if taxonname == seedtaxonname %}
		  			<option value="{{taxonname}}" id="{{taxonname}}" selected="selected">{{taxonname}}</option>
				{% else %}
					<option value="{{taxonname}}" id="{{taxonname}}">{{taxonname}}</option>
				{% endif %}
			{% endfor %}
		</select>
		</p>
		</td>
		<td><input type="submit" value="Select" class="dropdown"/></td>
	</tr>
</table>
</form>


<h3>Summary</h3>
<p>There are {{mutation_shortlist|length}} substitutions with strong support on the branch(es) connecting 
<a href="/{{alid}}/{{default_msaname}}.{{default_modelname}}/{{default_ancname1}}">{{default_ancname1}}</a> 
to <a href="/{{alid}}/{{default_msaname}}.{{default_modelname}}/{{default_ancname2}}">{{default_ancname2}}</a>.
These substitutions are listed below:
</p>

<table class="mutation_table" align="center">
{% for mu in mutation_shortlist %}
	{% if forloop.counter0|divisibleby:25 %}
	<th class="mu_header_small">Site in {{default_msaname}}
		<a href="#" class="tooltip">
			<img src="{% static "phylobot/question_icon.png" %}" height="15px">
			<span align="left">
				<h4>Site in {{default_msaname}}</h4>
	        	<p class="smalltext">The index of the substitution sequence site in the alignment generated by {{default_msaname}}.</p>
	    	</span>
		</a>
	</th>
	<th class="mu_header_small">Site in {{seedtaxonname}}
		<a href="#" class="tooltip">
			<img src="{% static "phylobot/question_icon.png" %}" height="15px">
			<span align="left">
				<h4>Site in {{seedtaxonname}}</h4>
	        	<p class="smalltext">The index of the substitution sequence site in the present-day sequence named {{seedtaxonname}}.
	        	Due to the placement of insertion/deletion characters within the sequence alignment, the sequence index for {{seedtaxonname}}
	        	if likely to be different from the overall sequence index for the alignment {{default_msaname}}.</p>
	    	</span>
		</a>
	</th>
	<th class="mu_header_small">Substitution
		<a href="#" class="tooltip">
			<img src="{% static "phylobot/question_icon.png" %}" height="15px">
			<span align="left">
				<h4>Substitution</h4>
	        	<p class="smalltext">The amino acid substitution is represented as X&#x2192;Y, where X is the ancestral state and Y is the descendant state.
	        	In some cases, the mutation reported here may be from the same state (i.e., X&#x2192;X). In this case,
	        	scroll down to the 'Detail' table, and you'll see that other alignments and models support a substitution at this site
	        	(i.e. X&#x2192;Y), but the method and model you've currently selected is an outlier and does not support the substition.
	        	</p>
	    	</span>
		</a>
	</th>
	<th class="mu_header_small">Weight
		<a href="#" class="tooltip">
			<img src="{% static "phylobot/question_icon.png" %}" height="15px">
			<span align="left">
				<h4>Weight</h4>
	        	<p class="smalltext">This is a count of the number of pairs of alignment method and phylogenetic
	        	model that strongly support a substitution at this sequence site.</p>
	    	</span>
		</a>
	</th>
	{% endif %}

	<tr>
	<td align="center"><a href="/{{alid}}/{{default_msaname}}/site{{mu.0}}">{{mu.0}}</a></td>
	<td align="center">{{mu.1}}</td>
	<td align="center"><strong>{{mu.2}}</strong>&#x2192;<strong>{{mu.3}}</strong></td>
	<td align="center">{{mu.4}}</td>
	</tr>
{% endfor %}
</table>

<hr>

<h3>Detail</h3>
<p>The following table shows the substitution profile at every site on the branch(es) 
connecting {{default_ancname1}} to {{default_ancname2}}:</p>
<table class="mutation_table" width="100%">
	
	{% for row in mutation_rows %}
		{% if forloop.counter0|divisibleby:25 %}
			<tr>
			{% for h in mutation_header %}
				<th class="mu_header_small">{{h}}</th>
			{% endfor %}
			</tr>
		{% endif %}
	
		<tr align="center">
			<td><a href="/{{alid}}/{{default_msaname}}/site{{row.0}}">Site {{row.0}}</a></td>
			
			{# Print either the empty case, or the ancestral state and PP #}
			<td>{% if row.2 == "-" %}&empty;{% else %}{{row.1}}: {{row.2}}{% endif %}</td>
			
			{% for col in row.3 %}
			{# col.0 is anc1state, col.1 is the PP, col.2 is the anc2state, col.3 is the PP, col.4 is the mutation flag #}
				{% if col.0 == "" %}
					{# now site data for this alignment/model combo #}
					<td>&nbsp;</td>
				{% else %}
					<td class="mu{{col.4}}">{% if col.0 == "-" %}&empty;<br>{% else %}{{col.0}} ({{col.1}}){% endif %}&#8594;<br>{% if col.2 == "-" %}&empty;{% else %}{{col.2}} ({{col.3}}){% endif %}</td>
				{% endif %}
			{% endfor %}
		</tr>
	{% endfor %}
		
</table>


{% endblock %}