{% extends "libview/libview_base.html" %}
  	  
{% block body %}

{% load staticfiles %}

<table width=100%>
<tr><th align='left'>Alignment Method 
		<a href="#" class="tooltip">
			<img src="{{STATIC_URL}}/phylobot/question_icon.png" height="15px">
			<span>
				<h3>Alignment Method</h3>
	        	<p class="smalltext">Each alignment method applies a unique approach to determine which sequence sites are homologous and the placement of gaps.</p><p class="smalltext">To learn more about a particular alignment method, click the link [ref] next to its name.</p>
	    	</span>
		</a>
	</th>	
	<th align='center'>N Taxa
		<a href="#" class="tooltip">
			<img src="{{STATIC_URL}}/phylobot/question_icon.png" height="15px">
			<span align="left">
				<h3>N Taxa</h3>
	        	<p class="smalltext">The number of sequences aligned.</p>
	    	</span>
		</a>
	</th>
	<th align='center'>N Sites
			<a href="#" class="tooltip">
			<img src="{{STATIC_URL}}/phylobot/question_icon.png" height="15px">
			<span align="left">
				<h3>N Sites</h3>
	        	<p class="smalltext">The number of sequence sites produced by this alignment method, including gaps. The number of sites in the alignment varies depending on the alignment method.</p>
	    	</span>
	    	</a>
	</th>
	<th align='center'>ZORRO Profile
			<a href="#" class="tooltip">
			<img src="{{STATIC_URL}}/phylobot/question_icon.png" height="15px">
			<span align="left">
				<h3>ZORRO Profile</h3>
	        	<p class="smalltext">The ZORRO algorithm assigns a confidence score to each site in the alignment.
	        	Use the profile of ZORRO scores to determine the relative robustness of different regions of the alignment.</p>
	        	<p class="smalltext">Reference:</p>
	        	<p class="tinytext">
	        	Wu, Chatterji, and Eisen<br>
	        	<em>Accounting For Alignment Uncertainty in Phylogenomics</em><br>
	        	PLoS One, January 17, 2012<br>
	        	DOI: 10.1371/journal.pone.0030288
	        	</p>
	    	</span>
	    	</a>
	</th>
	<th align='center'>View All Sites</th>
	<th align='center'>Download</th>
</tr>

{% for tuple in msaid_tuples %}
<tr><td align='left'>{{tuple.0}} <font class="smalltext"><a href="{{tuple.3}}">[ref]</a></font></td>
	<td align='center'>{{tuple.1}}</td>
	<td align='center'>{{tuple.2}}</td>
	<td align='center'><a href='/{{alid}}/zorro'>view</a></td>
	<td align='center'><a href='/{{alid}}/{{tuple.0}}/alignment'>launch viewer</a></td>
	<td align='center'>
		<a href='/{{alid}}/{{shortname}}.{{tuple.0}}.fasta'>fasta</a> |
		<a href='/{{alid}}/{{shortname}}.{{tuple.0}}.phylip'>phylip</a>
	</td>
	
</tr>
{% endfor %}

</table>

{% endblock %}