{% extends "libview/libview_base.html" %}
{% load staticfiles %}
{% block head %}
{% load staticfiles %}
{% endblock %}

{% block body %}

<p>&#10095; &#10095; &#10095; 
	<a href='ancestors'>View Ancestors on Tree</a> |
	<a href='ancestors-aligned'>View Ancestors Aligned</a> 
	&#10094; &#10094; &#10094;
</p>

<form action="/{{alid}}/ancestors-aligned" method="post">
{% csrf_token %}
<table class='choice_table' width="100%">
<tr>
	<td align="left">
		<h3>Select a tree:</h3>
		<div width="100%" align="center">
			<a href="#" class="tooltip">
			<img src="{% static "phylobot/question_icon.png" %}" height="20px">
			<span align="center">
	        	<p class="smalltext">Select a maximum likelihood phylogeny (i.e. a tree) by choosing a combination of one alignment method and one evolutionary Markov model.</p>
	    	</span>
			</a>
		</div>
	</td>

	<td><p>Alignment Method:</p>
		<select id="msaname" name="msaname" class="dropdown">
			{% for msaname in msanames %}
				{% if msaname == default_msaname %}
		  			<option value="{{msaname}}" id="{{msaname}}" selected="selected">{{msaname}}</option>
				{% else %}
					<option value="{{msaname}}" id="{{msaname}}">{{msaname}}</option>
				{% endif %}
			{% endfor %}
		</select>
	</td>
	<td>
		<p>Markov Model:</p>
		<select id="modelname" name="modelname" class="dropdown">
			{% for model in modelnames %}
			  {% if model == default_modelname %}
			  	<option value="{{model}}" selected="selected">{{model}}</option>
			  {% else %}
			  	<option value="{{model}}">{{model}}</option>
			  {% endif %}
			 {% endfor %}
		</select>
	</td>
	<td>
		<input type="submit" value="Select" class="dropdown"/>
	</td>
</tr>
</table>
</form>

<br>

<table>
{% for row in ancvectors %}
<tr>
	<td align="left"><a href="ancestors/{{msaname}}.{{modelname}}/{{row.0}}">{{row.0}}</a></td>
	{% for ii in row.1 %}
	<td align="center"
	{% if ii.1 > 0.9 %}
	class="pp9"
	{% elif ii.1 > 0.8 %}
	class="pp8"
	{% elif ii.1 > 0.7 %}
	class="pp7"
	{% elif ii.1 > 0.6 %}
	class="pp6"
	{% elif ii.1 > 0.5 %}
	class="pp5"
	{% else %}
	class="pplow"
	{% endif %}
	>{{ii.0}} ({{ii.1}})</td>
	{% endfor %} 
</tr>
{% endfor %}
</table>


{% endblock %}