{% extends "libview/libview_base.html" %}
{% load staticfiles %}

{% block javascript %}
<script type="text/javascript">
function clearAll(){
	var elements = document.getElementsByName("taxa");
	for(var i=0; i<elements.length; i++) {
    	elements[i].checked = false;
	}
}
</script>

{% endblock %}

{% block body %}

<p>&#10095; &#10095; &#10095; 
	<a href='ancestors'>View Ancestors on Tree</a> |
	<a href='ancestors-aligned'>View Ancestors Aligned</a> |
	<a href='ancestors-search'>Search for Ancestors</a>
	&#10094; &#10094; &#10094;
</p>

<h3>Search for Ancestors</h3>
<p>Select ancestors from the list below, and then click search to find their most-recent shared ancestor.</p>

<div style="width: 100%; overflow: hidden;">

	<div style="width: 500px; float: left;"> 
	<form action="/{{alid}}/ancestors-search" method="post">
	{% csrf_token %}
	
		<div align="center">
			<input type="hidden" name="action" value="search">
			<input type="submit" class="button1" name="submit_newgroup" value="Find Ancestor" />
		</div>
	
		<table>
		<tr>
		<td><button onclick="clearAll()" id="clearAllButton">Uncheck All</button></td>
		</tr>
		{% for tuple in taxa_tuples %}
		<tr><td><label for="taxon_{{tuple.1}}"><input id="taxon_{{tuple.1}}" name="taxa" type="checkbox" value="{{tuple.1}}" {%if tuple.2 %}checked{%endif%}/> {{tuple.0|slice:":50"}}</label></td></tr>
		{% endfor %}
		</table>
	</form>
	</div>
	
	<div style="margin-left: 510px;">
	{% if results|length > 0 %}
		<h4>Matching Ancestors:</h4>
		<p class="smalltext">The most-recent shared ancestor of
		{% for taxon in checked_taxa_names %}
			{% if forloop.last %}
				and {{taxon}}
			{% else %}
				{{taxon}},
			{% endif %} 
		{% endfor %}
		</p>
		<table width="100%">
		<tr>
			<th class="mu_header_small">Alignment</th>
			<th class="mu_header_small">Markov Model</th>
			<th class="mu_header_small">Ancestor</th>
		</tr>
		{% for row in results %}
			<tr>
			<td align="center">{{row.0}}</td>
			<td align="left">{{row.1}}</td>
			<td align="center"><a href="/{{alid}}/{{row.0}}.{{row.1}}/Node{{row.2}}">Node {{row.2}}</a></td>
			</tr>
		{% endfor %}
		</table>
	{% endif %}
	</div>

</div>

{% endblock %}
