{% extends "libview/libview_base.html" %}
{% load staticfiles %}
{% block head %}
{% load staticfiles %}
{% endblock %}

{% block body %}

<p>&#10095; &#10095; &#10095; 
	<a href='ancestors'>View Ancestors on Tree</a> |
	<a href='ancestors-aligned'>View Ancestors Aligned</a>
	&#10094; &#10094; &#10094;
</p>

<hr>

<form action="/{{alid}}/ancestors-aligned" method="post">
{% csrf_token %}
<table class='choice_table' width="100%">
<tr>
	<td align="left">
		<h3>Select an Alignment & Model:</h3>
		<div width="100%" align="center">
			<a href="#" class="tooltip">
			<img src="{% static "phylobot/question_icon.png" %}" height="20px">
			<span align="center">
	        	<p class="smalltext">Select a maximum likelihood phylogeny (i.e. a tree) by choosing a combination of one alignment method and one evolutionary Markov model.</p>
	    	</span>
			</a>
		</div>
	</td>

	<td><p>Alignment Method:</p>
		<select id="msaname" name="msaname" class="dropdown">
			{% for msaname in msanames %}
				{% if msaname == default_msaname %}
		  			<option value="{{msaname}}" id="{{msaname}}" selected="selected">{{msaname}}</option>
				{% else %}
					<option value="{{msaname}}" id="{{msaname}}">{{msaname}}</option>
				{% endif %}
			{% endfor %}
		</select>
	</td>
	<td>
		<p>Markov Model:</p>
		<select id="modelname" name="modelname" class="dropdown">
			{% for model in modelnames %}
			  {% if model == default_modelname %}
			  	<option value="{{model}}" selected="selected">{{model}}</option>
			  {% else %}
			  	<option value="{{model}}">{{model}}</option>
			  {% endif %}
			 {% endfor %}
		</select>
	</td>
	<td>
		<input type="submit" value="Select" class="dropdown"/>
	</td>
</tr>
</table>
</form>

<br>
<h3>ML Ancestral Sequences. Alignment: {{default_msaname}}, Model: {{default_modelname}}</h3>

<p>&#8594;<a href='ancestors-aligned.csv'>Download Excel Spreadsheet (CSV)</a></p>

<hr>


<table class='choice_table' style='background-color: #99FF99;' width="100%">
<tr><td><h3>Navigate Sites:
		<a href="#" class="tooltip">
			<img src="{% static "phylobot/question_icon.png" %}" height="15px">
			<span align="left">
				<h4>Navigate Sites</h4>
	        	<p class="smalltext">Use the links to navigate among the sites in ancestral reconstructions
	        	from the alignment {{default_msaname}} and phylogenetic model {{default_modelname}}. You can
	        	either scroll through the sites using the lower/higher buttons, or jump directly to a site of interest.</p>
	    	</span>
		</a>
</h3></td>
<td>
	<a href="/{{alid}}/ancestors-aligned?startsite={{lesssite}}">
	<button class="dropdown">&#8592;(show lower)</button>
	</a>
</td>
<td align="center">
Showing<br>Sites {{sites.0}}-{{sites.29}}
</td>
<td>
	<a href="/{{alid}}/ancestors-aligned?startsite={{moresite}}">
	<button class="dropdown">(show higher)&#8594;</button>
	</a>
</td>
<td align="center">Jump to Site:<input type="text" size="4" name="startsite">
	<form action="/{{alid}}/ancestors-aligned" method="get">
	<input type="submit" class="dropdown"/>
	</form>
</td>
</tr>
</table>

<br>

<table>
<tr>
<th>Sites:</th>
{# Iterate through the sites (.1) in the first row (.0) of the ancvectors table#}
{% for ss in sites %}
	<th class="smallertext" width="50"><a href="{{default_msaname}}/site{{ss}}">{{ss}}</a></th>
{% endfor %}
</tr>

{% for row in ancvectors %}
<tr>
	<td align="left"><a href="ancestors/{{msaname}}.{{modelname}}/{{row.0}}">{{row.0}}</a></td>	
	{% for ii in row.1 %}
		<td align="center"
		{% if ii.1 > 0.9 %}
		class="pp9"
		{% elif ii.1 > 0.8 %}
		class="pp8"
		{% elif ii.1 > 0.7 %}
		class="pp7"
		{% elif ii.1 > 0.6 %}
		class="pp6"
		{% elif ii.1 > 0.5 %}
		class="pp5"
		{% elif ii.0 == "-" or ii.1 == "None" %}
		class="ppindel"
		{% else %}
		class="pplow"
		{% endif %}
		>{{ii.0}} ({{ii.1}})</td>
	{% endfor %} 
</tr>
{% endfor %}
</table>


{% endblock %}