{% extends "libview/libview_base.html" %}

{% block body %}


<div style="width: 100%; overflow: hidden;">
	


	<div style="float: left; width=40%;">
		<p>&nbsp;</p>		
		<div>
		
			<table class="alignment_table">
				<tr><td align="center">Sequence</td></tr>
		
				{% for taxon, seq in taxon_aaseq.items %}
				<tr><td>{{taxon}}</td></tr>
				{% endfor %}
			</table>
		</div>
	</div>		
	
	

	<div style=""margin-left: 200px; width:60%">	
		<p align="center">Scroll left/right to see more sites.</p>		
		<div style="overflow-x:scroll; overflow:auto; width="60%; background-color: #FFFFFF;">
	
	
			<table class="alignment_table">
				<tr>
				{% for residue in firstseq %}
					<td>{{forloop.counter}}</td>
				{% endfor %}
				</tr>
		
				{% for taxon, seq in taxon_aaseq.items %}
				<tr>{% for residue in seq %}<td class="aa{{residue}}">{{residue}}</td>{% endfor %}</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>


{% endblock %}