{% extends "libview/libview_ancestor_base.html" %}

{% block ancestor_body %}
{% load staticfiles %}
<h3>Maximum Likelihood Sequence
		<a href="#" class="tooltip">
			<img src="{% static "phylobot/question_icon.png" %}" height="15px">
			<span>
	        	<p class="smalltext">The maximum likelihood sequence is the string of amino acids representing the highest-probability residue at each site in the ancestral sequence.</p>
	    	</span>
		</a>
</h3>
<p class="smalltext">{{ml_sequence|safe}}</p>


<p class="smalltext">
<a href="/{{alid}}/{{msaname}}/{{node_number}}.alignment">Click here</a> to compare Ancestor {{node_number}} to the {{msaname}} alignment.<br>
</p>

<hr>

<h3>Same Anccestor, Different Models	
		<a href="#" class="tooltip">
			<img src="{% static "phylobot/question_icon.png" %}" height="15px">
			<span>
	        	<p class="smalltext">Based on the ingroup and outgroup of Ancestral Node {{node_number}}, this ancestor is located at the same evolutionary branching point as ancestors found by other models.</p>
	    	</span>
		</a>

</h3>

<table width="50%">
{% for row in similarity_rows %}
	{% if forloop.counter0|divisibleby:25 %}
	<th class="mu_header_small">ID</th>
	<th class="mu_header_small" >Alignment Method</th>
	<th class="mu_header_small">Markov Model</th>
	<th class="mu_header_small">Ancestor</th>
	{% endif %}
	<tr>
		<td align="center">{{ forloop.counter0 }}</td>
		<td align="center">{{row.0}}</td>
		<td>{{row.1}}</td>
		<td align="center"><a href="/{{alid}}/{{row.0}}.{{row.1}}/{{row.2}}">{{row.2}}</a></td>
	</tr>
{% endfor %}
</table>

<h3>Similarity to Other Models		
		<a href="#" class="tooltip">
			<img src="{% static "phylobot/question_icon.png" %}" height="15px">
			<span>
	        	<p class="smalltext">The values in this table express the proportion sequence similarity between the same ancestor reconstructed with different models.
	        	The ancestor IDs, on the row and column headers, correspond to the ID column in the table above.</p>
	    	</span>
		</a>

</h3>

<table width="50%">
<tr><td align="center">ID</td>
{% for item in similarity_matrix.0 %}
<th class="mu_header_small">{{ forloop.counter0 }}</th>
{% endfor %}
</tr>
{% for row in similarity_matrix %}
	<tr align="center">
	<td class="mu_header_small">{{ forloop.counter0 }}</td>
	{% for item in row %}
		<td
		{% if item == 1.0 %}class="ppfull"
		{% elif item >= 0.9 %}class="pp9"
		{% elif item >= 0.8 %}class="pp8"
		{% elif item >= 0.7 %}class="pp7"
		{% elif item >= 0.6 %}class="pp6"
		{% elif item >= 0.5 %}class="pp5"
		{% else%}class="pplow"{% endif %}
		>{{ item|floatformat:2 }}</td>
	{% endfor %}
	</tr>
{% endfor %}
</table>


<hr>

<h3>Bayesian-Sampled Alternate Ancestral Sequences
	<a href="#" class="tooltip">
		<img src="{% static "phylobot/question_icon.png" %}" height="15px">
		<span>
			<h3>Alternate Ancestral Sequences</h3>
	    	<p class="smalltext">Alternate sequences are created by taking Bayesian-weighted samples from the probability of ancestral states at each site. Although these alternate sequences are probably less accurate than the ML sequence, it may be useful to characterize the molecular function of several of these alternate ancestors in order to ensure that your ancestral reconstruction is robust to uncertainty.</p>
	    	<p class="smalltext">Reference:</p>
	    	<p class="tinytext">
	    	Williams, Pollock, Blackburne, and Goldstein<br>
	    	<em>Assessing the Accuracy of Ancestral Protein Reconstruction Methods</em><br>
	    	PLoS One, June 23, 2006<br>
	    	DOI: 10.1371/journal.pcbi.0020069
	    	</p>
		</span>
	</a>
</h3>
<p class="smalltext">
{% for rs in alt_sequences %}
{{rs}}<br>
{% endfor %}
</p>

{% endblock %}

