{% extends "libview/libview_base.html" %}
{% load staticfiles %}

{% block body %}

<form action="/{{alid}}/ancestors-search" method="post">
{% csrf_token %}

	<div align="center">
		<input type="hidden" name="action" value="setoutgroup">
		<input type="submit" class="button1" name="submit_newgroup" value="Save Outgroup, then Launch" />
	</div>
	
	<table>
	{% for tuple in taxa_tuples %}
	<tr>
	<td><label for="taxon_{{tuple.1}}"><input id="taxon_{{tuple.1}}" name="taxa" type="checkbox" value="{{tuple.1}}" {%if tuple.2%}checked{%endif%}/> {{tuple.0|slice:":50"}}</label></td>
	</tr>
	{% endfor %}
	</table>

</form>

{% end block %}
