{% extends "libview/libview_base.html" %}
{% load staticfiles %}  
{% block body %}

<table width=100%>
<tr><th align='left'>Alignment
			<a href="#" class="tooltip">
			<img src="{% static "phylobot/question_icon.png" %}" height="15px">
			<span align="left">
				<h3>Sequence Alignment Method</h3>
	        	<p class="smalltext">Alignments computed by different methods can disagree about which sites are homologous. These differences can, potentially, impact the topology and branch lengths on the maximum likelihood phylogeny.</p>
	    	</span>
	    	</a>
	</th>

	<th align='center'>Model
			<a href="#" class="tooltip">
			<img src="{% static "phylobot/question_icon.png" %}" height="15px">
			<span align="left">
				<h3>Markov Model</h3>
	        	<p class="smalltext">Each model specifies a different substitution pattern between amino acids. These differences can, potentially, lead to different inferences of the best tree topology and branch lengths.</p>
	    	</span>
	    	</a>
	</th>
	<th align='center'>log(L)
			<a href="#" class="tooltip">
			<img src="{% static "phylobot/question_icon.png" %}" height="15px">
			<span align="left">
				<h3>log(Likelihood)</h3>
	        	<p class="smalltext">The log of the likelihood, i.e. the probability of observing all the data in the sequence alignment, given the evolutionary model, the best tree topology, and optimized branch lengths on that tree.</p>
	    	</span>
	    	</a>
	</th>
	<th align='center'>Relative<br>Prob.
			<a href="#" class="tooltip">
			<img src="{% static "phylobot/question_icon.png" %}" height="15px">
			<span align="left">
				<h3>Relative Probability</h3>
	        	<p class="smalltext">The relatively probability of the phylogeny inferred by this alignment and model, compared to the best phylogenies from other models with this same alignment. The relative probability is computed based on the log(likelihood).</p>
	    	</span>
	    	</a>
	</th>
	<th align='center'>Alpha
			<a href="#" class="tooltip">
			<img src="{% static "phylobot/question_icon.png" %}" height="15px">
			<span align="left">
				<h3>Alpha</h3>
	        	<p class="smalltext">The alpha parameter describes the scale of the distribution of branch lengths. A high value for alpha generally indicates long branches.</p>
	    	</span>
	    	</a>
	</th>
	<th align='center'>&sum; B.L.
			<a href="#" class="tooltip">
			<img src="{% static "phylobot/question_icon.png" %}" height="15px">
			<span align="left">
				<h3>Sum of Branch Lengths</h3>
	        	<p class="smalltext">The sum of all branch lengths on the phylogeny.</p>
	    	</span>
	    	</a>
	</th>
	<th align='center'>Download
			<a href="#" class="tooltip">
			<img src="{% static "phylobot/question_icon.png" %}" height="15px">
			<span align="left">
				<h3>Download</h3>
	        	<p class="smalltext">You can download the tree as a Newick-formatted string, viewable by external programs such as FigTree.</p>
	    	</span>
	    	</a>
	</th>
	<th align='center'>Statistical<br>Support
			<a href="#" class="tooltip">
			<img src="{% static "phylobot/question_icon.png" %}" height="15px">
			<span align="left">
				<h3>Statistical Support</h3>
	        	<p class="smalltext">One or more methods were used to estimate the support for each branch in the phylogeny.</p>
	        	<p class="smalltext">1. The Approximate Likelihood Ratio Test (aLRT)</p>
	        	<p class="tinytext">
	        	Anisimova and Gascuel<br>
	        	<em>Approximate Likelihood-Ratio Test for Branches: A Fast, Accurate, and Powerful Alternative</em><br>
	        	Systematic Biology (2006) 55 (4): 539-552<br>
	        	DOI: 10.1080/10635150600755453
	        	</p>
	        	<p class="smalltext">2. The Approximate Likelihood Ratio (aLR), computed from aLRTs. INTERPRETATION: An aLR value of X on branch B indicates that the existence of B is X times more likely than the next-best phylogenetic hypothesis in which B does not exist.</p>
	    	</span>
	    	</a>
	</th>
	
	<th align='center'>Ancestors</th>
</tr>

{% for tuple in tree_tuples %}
<tr>
	<td>{{tuple.0}}</td>
	<td class='smalltext'>{{tuple.1}}</td>
	<td align='center'>{{tuple.2|floatformat:2}}</td>
	<td align='center'>{{tuple.3|floatformat:1}}</td>
	<td align='center'>{{tuple.4|floatformat:3}}</td>
	<td align='center'>{{tuple.5|floatformat:2}}</td>
	<td align='center'><a href='/{{alid}}/{{shortname}}.{{tuple.0}}.{{tuple.1}}.newick'>newick</a></td>
	<td align='center'>
	{% for m in support_methods %}
		<a href='/{{alid}}/{{shortname}}.{{tuple.0}}.{{tuple.1}}.{{m}}.newick'>{{m}}</a>
		{% if m != lastmethod %}
		|
		{% endif %}
	{% endfor %}
	</td>
	<td align='center'><a href="/{{alid}}/{{tuple.0}}.{{tuple.1}}/ancestors">view</a></td>
</tr>
{% endfor %}

</table>

{% endblock %}