{% extends "libview/libview_base.html" %}
{% load staticfiles %}

{% block javascript %}
<script type="text/javascript">
function clearAll(){
	var elements = document.getElementsByName("taxa");
	for(var i=0; i<elements.length; i++) {
    	elements[i].checked = false;
	}
}
</script>

{% endblock %}

{% block body %}

<h3>Search for Ancestors</h3>
<p>Select ancestors from the list below, and then click search to find their most-recent shared ancestor.</p>

<form action="/{{alid}}/ancestors-search" method="post">
{% csrf_token %}

	<div align="center">
		<input type="hidden" name="action" value="search">
		<input type="submit" class="button1" name="submit_newgroup" value="Find Ancestor" />
	</div>
	
	<button onclick="clearAll()" id="clearAllButton">Uncheck All</button>
	<table>
	{% for tuple in taxa_tuples %}
	<tr>
	<td><label for="taxon_{{tuple.1}}"><input id="taxon_{{tuple.1}}" name="taxa" type="checkbox" value="{{tuple.1}}" {%if tuple.2%}checked{%endif%}/> {{tuple.0|slice:":50"}}</label></td>
	</tr>
	{% endfor %}
	</table>

</form>

{% endblock %}
