{% extends "phylobot_base.html" %}

{% comment %}
  Main page to authenticate users.
{% endcomment %}

{% block head %}
	<title>PhyloBot | Login</title>
    {% block css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "phylobot/phylobot.css" %}">
    {% endblock %}
{% endblock %}

{% block content %}

  <div width="50%" align="center">
    <h1>Please Sign In</h1>
    {% if form.errors %}
      <p>Your username and password didn't match, please try again.</p>
    {% endif %}

    <form method="post" action=".">
      {% csrf_token %}
      <p>
        <label for="id_username">Username:</label>
        {{ form.username }}
      </p>
      <p>
        <label for="id_password">Password:</label>
        {{ form.password }}
      </p>
      {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
      {% else %}
        <input type="hidden" name="next" value="/portal/" />
      {% endif %}
      <input type="submit" value="Login" />
    </form>
  </div>
{% endblock %}