body {
background-color: #f0f0f0;
width: 75%;
margin: auto;
font-family: sans-serif;
line-height: 140%;
}

.buttontext {
color: #0066ff;
text-decoration: none;
cursor: pointer;
}

a:link {
text-decoration: none;
color: #0066ff;
cursor: pointer;    
}
a:visited {
color: #0066ff;
text-decoration: none;
cursor: pointer;    
}
a:mouseover {
color: #ff9900;
text-decoration: underline;
cursor: pointer;    
}
a:hover {
color: #ff9900;
text-decoration: underline;
cursor: pointer;    
}
a:active {
text-decoration: none;
color: #0066ff;
cursor: pointer;    
}

p{ 
color: #444444; 
font-size: 12pt;
}

h1{ /* Big titles */
color: #444444;
font-size: 27pt;
font-weight: bold;
font-family: Helvetica, Optima, sans-serif;
line-height: 120%;
}
h2{ /* sub-titles, such as \"Section 1\", \"Section 2\"*/
font-size: 18pt;
color: #444444;
font-family: Helvetica, Optima, sans-serif;
}
h3{ /* navigation text, on the top*/
color: #444444;
font-size: 14pt;
font-family: Helvetica, sans-serif;
}
h4{ /* clickable links, usually underneath clickable icons*/
font-size: 12pt;
padding: 0;
color: #444444;
}
h5{ /* misc sub-titles, smaller than h2 and usually in-line */
font-size: 12pt;
color: #444444;
}
hr{
height: 5px;
color: #444444;
background-color: #444444;
}

.thinhr{
height: 1px;
color: #444444;
background-color: #444444;
}

.verythinhr{
height: 0.5px;
color: #444444;
background-color: #444444;
}

th { font-size: 11pt; color: #444444;}")
p, ul, li{ /* body text */
font-size: 11pt;
color: #444444;
font-family: Helvetica, serif;
line-height: 160%;
}
.bigp{ /* Nav links */
font-size: 12pt;
font-family: Helvetica;
}
.biggerp{
font-size: 16pt;
font-family: Helvetica;
}
.longp{
font-family:Georgia;
}

img{
border: 0;
}



div{word-wrap: break-word;}

/* Classes for the Ancestral PP distribution table */
.ppheader{background: #C0C0C0;}
.headerrow{background: #C0C0C0; font-weight: bold; font-size: 12pt;}
.ppfull{background: #1E90FF;	font-size: 10pt;}
.pp9{background: #00BFFF;		font-size: 10pt;}
.pp8{background: #90EE90;		font-size: 10pt;}
.pp7{background: #ADFF2F;		font-size: 10pt;}
.pp6{background: #FFD700;		font-size: 9pt;}
.pp5{background: #FFA07A;		font-size: 8pt;}
.pplow{background: #FFB6C1;		font-size: 9pt;}
.ppindel{background: #CCCCCC;	font-size: 9pt;}
.type1{background: #FFB6C1;		font-size: 10pt; font-style: bold;}

/* Classes for the mutation table */
.mutation_table{font-size: 9pt;}
.mu_header_small{font-size: 9pt; color: #444444; background: #99CCFF;}
.mu{}
.mu1{background: #FFB6C1;}
.mu2{background: #FFD700;}
.mu3{background: #FFFF99;}
.mui{background: #ADFF2F;}
.mud{background: #33CC33;}
.mtable{font-size: 10pt;}

.divInfo { display:block; }

.choice_table{
	border: 2px;
	border-radius: 25px;
	padding-left:25px;
	padding-right: 25px;
	padding-top: 0px;
	background-color: #cccccc;
	box-shadow: 6px 6px 5px #777777;
}


.dropdown{
	font-family: sans-serif;
	font-size: 200%;
}


/* The scrollable table for viewing sequence alignments */
.table-wrapper { 
    overflow-x:scroll;
    overflow-y:visible;
    width:100%;
}


.leftrowdata, .rightrowdata{
	font-size: 8pt;
	line-height: 90%;
}


.aaA{
	background-color: #FFFFFF;
	text-align: center;
}
.aaR{
	background-color: #FFFFFF;
	text-align: center;
}
.aaN{
	background-color: #FFFFFF;
	text-align: center;
}
.aaD{
	background-color: #FFFFFF;
	text-align: center;
}
.aaC{
	background-color: #FFFFFF;
	text-align: center;
}
.aaE{
	background-color: #FFFFFF;
	text-align: center;
}
.aaQ{
	background-color: #FFFFFF;
	text-align: center;
}
.aaH{
	background-color: #FFFFFF;
	text-align: center;
}
.aaI{
	background-color: #FFFFFF;
	text-align: center;
}
.aaL{
	background-color: #FFFFFF;
	text-align: center;
}
.aaK{
	background-color: #FFFFFF;
	text-align: center;
}
.aaM{
	background-color: #FFFFFF;
	text-align: center;
}
.aaF{
	background-color: #FFFFFF;
	text-align: center;
}
.aaP{
	background-color: #FFFFFF;
	text-align: center;
}
.aaG{
	background-color: #FFFFFF;
	text-align: center;
}
.aaS{
	background-color: #FFFFFF;
	text-align: center;
}
.aaT{
	background-color: #FFFFFF;
	text-align: center;
}
.aaW{
	background-color: #FFFFFF;
	text-align: center;
}
.aaV{
	background-color: #FFFFFF;
	text-align: center;
}
.aaY{
	background-color: #FFFFFF;
	text-align: center;
}
.aaU{
	background-color: #FFFFFF;
	text-align: center;
}
.aa-{
	background-color: #FFFFFF;
	text-align: center;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('images/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}
