{% extends "phylobot_base.html" %}

{% block content %}
  
  <section>   
    <div align="left">

	<h3>For general questions:</h3>
	<p>Email: <a href="mailto:hello@phylobot.com">hello@phylobot.com</a></p>    
	
	<h3>Do you need help with your analysis? Did something break?</h3>
	<p>Email: <a href="mailto:help@phylobot.com">help@phylobot.com</a></p>

	<h3>If you would like to collaborate with<br>us to analyze your data:</h3>
	<p>Email: <a href="mailto:science@phylobot.com">science@phylobot.com</a></p>

    </div>
  </section>
{% endblock %}