{% extends "phylobot_base.html" %}

{% block content %}
  
<h3>Examples</h3>

<ul>
<li><a href="/alp/">Alkaline Phosphatase (AP) and AP-Like Proteins</a>: In collaboration with
<a href="http://www.fordycelab.com/">the Fordyce Lab</a> and <a href="http://cmgm.stanford.edu/herschlag/">the Herschlag Lab</a> at Stanford.</li>

<li><a href="/alpha1/">Mating-Type alpha 1 transcription factor</a>: In collaboration with <a href="http://johnsonlab.ucsf.edu">the Johnson Lab at UCSF</a>.</li>
</ul>
  
{% endblock %}