{% extends "portal/portal_base.html" %}

{% block content %}

<hr>

<h3>Notes on FASTA Files</h3>

<p>PhyloBot reads input sequences in <a href="http://en.wikipedia.org/wiki/FASTA_format">the FASTA file format</a>.
This format supports sequence collections that are not aligned. Every line in the FASTA file should be either
a sequence name or sequence content.  Sequence name lines begin with the character '>', followed by the name of the sequence.
Sequence content lines contain only amino acid or nucleotide strings. Sequence content lines may contain insertion/deletion
characters (i.e. '-'), but PhyloBot will trim out these indels before running the alignment algorithms. If a sequence content
is very long, you can wrap the seqeunce into multiple contiguous lines.</p>

<h4>Example FASTA file</h4>
<p>This example includes four sequences from the yeast alpha1 gene family:</p>

<code>
>A.terreus<br>
MPTKELEELLKYLQDARAQENSDNYHPGEDIQAHTEARADSRRITAVPSRPSGRSSASRGRHIQDVKKRPLNSFIAFRSYYSTIFPELTQK
SKSGILRFLWQNDPFKAKWAILAKAYSIIRDDHDSDVSLDTFLGLNAGFIGILEPTRYLEVMGWELQVDEEQQYTMAKVNVSSANEADIST
NYSVNDVVKNCYAAGYVSEGDRKNKPTQGGNASVMAFAAQPTLVIHESNGVQRSGNRAILKRGTTPVTGMTPTSKPGSTPSPNPGDMSMVV
RDASVETNEVPTVRNFPLLQHDANATVGFETLDFNFNGFEFANWGEEQTPLFPYDPSLQTPVMHNDPLMPSPYDVVDIERYLEI
<br>
>H.capsulatum<br>
MAGNDVSAVHRAFNKLFTTLTPDQVQNFQHFLHEATASTTNPTGNAAGIPSMGNGPTNIQKTNSLTDMATPILAPAASNAVSRIPPSRAKR
VRENGKLRPLNSFIAFRSFYSTAFPDLSQKIKSGLLRLLWTSDPFKAKWAILAKAYSIIRDSHAGQVNLESFLELNGPLIGIVAPSDYLRV
MGLKLAESMDKQFSVIKTNHHVGPTQGDLTTNLSVDDIVTHCYQTGYVVGVLTPRNNNHGVGVAMAVTAQPNLAHYPQSGNLCQQNTASSP
RPRTAHNGSPKLATANPNLVIDTETGSAESLAISSSSIRSEPNSDAALNVNSIMHLQGNFECVNPTLESPYTAEDFDQELRTAMNEFPIAP
DDNGYFTLFNPELRNPVYIYNPYRVQSDFDPYDIGQYIDM
<br>
>N.crassa<br>
MSGVDQIVKTFADLAEDDREAAMRAFSRMMRRGTEPVRRIPAAKKKVNGFMGFRSYYSPLFSQLPQKERSPFMTILWQHDPFHNEWDFMCS
VYSSIRTYLEQEKVTLQLWIHYAVGHLGVIIRDNYMASFGWNLVRFPNGTHDLERTALPLVQHNLQPMNGLCLLTKCLESGLPLANPHSVI
AKLSDPSYDMIWFNKRPHRQQGHAVQTDESEVGVSAMFPRNHTVAAEVDGIINLPLSHWIQQGEFGTESGYSAQFETLLDSILENGHASSN
DPYNMALAIDVPMMGFNGGA
<br>
>S.cerevisiae<br>
MFTSKPAFKIKNKASKSYRNTAVSKKLKEKRLAEHVRPSCFNIIRPLKKDIQIPVPSSRFLNKIQIHRIASGSQNTQFRQFNKTSIKSSKK
YLNSFMAFRAYYSQFGSGVKQNVLSSLLAEEWHADKMQHGIWDYFAQQYNFINPGFGFVEWLTNNYAEVRGDGYWEDVFVHLAL
<br>
</code>

<hr>
{% endblock %}